#baskerville {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

* {
  color: white;
  background-color: black;
  text-align: center;
}

img {
  height: 300px;
  width: 100%;
}

p {
  margin: 0px;
}

#titulo {
  text-transform: uppercase;
  font-size: 30px;
  margin: 20px;
}

#contenedor {
  border: 5px solid white;
  height: 300px;
  width: 50%;
  margin-left: 25%;
}
